* {
    padding: 0;
    margin: 0;
}


/* 让倾斜的文字不倾斜 */

em,
i {
    font-style: normal;
}

li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}

button {
    cursor: pointer;
}


/* 中文字体最好使用Unicode编码，兼容性比较好 */